/* Style sheet for the website template project */

* {

    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

body {

    margin: 0;
    padding: 0;

}


.s1 {

    background-color: #1F2937;
    color: white;

}

/* Header Styles */

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

}

.header h1 {

    font-size: 24px;
    color: #F9FAF8;

}

.right-placeholders {

    display: flex;
    gap: 50px;

}

.right-placeholders p {

    margin: 0;

}

/* Hero Styles */

.hero {

    display: flex;
    flex-direction: row;
    padding: 100px 40px;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.hero h1 {

    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;

}

.hero p {

    font-size: 18px;
    color: #E5E7EB;

}

.hero #signupbtn {

    background-color: #3882F6;
    height: 40px;
    width: 150px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    font-weight: 300px;

}

.leftside {

    display: flex;
    flex-direction: column;
    

}

.hero .img1 {

    background-color: #6f7175;
    height: 300px;
    width: 650px;
    text-align: center;
    align-content: center;

}