/* Style sheet for the website template project */

* {

    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

body {

    margin: 0;
    padding: 0;

}


.s1 {

    background-color: #1F2937;
    color: white;

}

/* Header Styles */

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

}

.header h1 {

    font-size: 24px;
    color: #F9FAF8;

}

.right-placeholders {

    display: flex;
    gap: 50px;

}

.right-placeholders p {

    margin: 0;

}

/* Hero Styles */

.hero {

    display: flex;
    flex-direction: row;
    padding: 100px 40px;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.hero h1 {

    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;

}

.hero p {

    font-size: 18px;
    color: #E5E7EB;

}

.hero #signupbtn {

    background-color: #3882F6;
    height: 40px;
    width: 150px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    font-weight: 300px;

}

.leftside {

    display: flex;
    flex-direction: column;
    

}

.hero .img1 {

    background-color: #6f7175;
    height: 300px;
    width: 650px;
    text-align: center;
    align-content: center;

}

/* Second Section Styles */
.s2 {

    background-color: white;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.s2 h1 {

    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

}

#inforow {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px

}

#inforow li {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 160px;
    font-size: 16px;

}

#inforow img {

    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;

}

/* Third Section Styles */
.s3 {

    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;

}

.s3 p {

    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
    font-style: italic;
    padding: 0px 300px;
    margin-bottom: 20px;

}

.s3 cite {

    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;

    align-self: flex-end;
    margin-right: 17%;


}