/* Style sheet for the website template project */

* {

    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding-right: 40px;

}


div.s1 {

    background-color: #1F2937;
    color: white;


}

/* Header Styles */

div.header {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header h1 {

    font-size: 24px;
    color: #F9FAF8;

}

.right-placeholders {

    display: flex;

}

.right-placeholders p {

    margin: 0;

}

/* Hero Styles */

.hero {

    display: flex;
    flex-direction: row;
    padding: 100px 0px;
    align-items: center;

}

.hero h1 {

    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;

}

.hero p {

    margin-top: 10px;

}

.hero #signupbtn {

    background-color: #3882F6;
    margin-left: 35px;
    margin-top: 20px;
    height: 30px;
    width: 100px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    font-weight: 300px;

}

.leftside {

    display: flex;
    flex-direction: column;
    

}

.hero .img1 {

    background-color: #6f7175;
    height: 200px;
    width: 500px;

}